{% extends 'blank_layout.html' %}
{% load static %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block about %}
<div class="container pt-5">
    <div class="row d-flex justify-content-center alig">
        <div class="col-md-2"></div>
        <div class="col-md-8 pt-5">
        <h1 class="text-center text-secondary"><strong>ABOUT US</strong></h1>
        <p class="text-center text-light pt-3" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <br> <br> <br>
        <div class="col-md-2"></div>
        
    </div>  
</div>
<div class="container-fluid bg-danger">
    <div class="row d-flex justify-content-center alig">
        <div class="col-md-12 pt-4">
            <h3 class="text-center text-light"><strong>HOW I CAN SEND MY WRITINGS?</strong></h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
        <p class="text-center text-dark p-4 " style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock about %}