{% extends 'blank_layout.html' %}
{% load static %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block article %}
<div class="container pt-5">
    <div class="row">
        {% for article in articles %}
            <div class="col-md-3 pt-3">
                <a href="{% url 'article_detail' article.id %}" style="text-decoration: none;"> 
                    <div class="card bg-dark">
                        <img src="{{ article.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body" style="height:260px; overflow: hidden;">
                            <h5 class="card-title text-white">{{ article.author }}</h5>
                            <hr>
                            <a href="{% url 'article_detail' article.id %}" class="btn btn-primary text-white">ARTICLE</a>
                            <div class="card-text text-light" style="overflow: hidden; text-decoration: none;">{{ article.description|safe }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock article %}
